<?php
// Create connection
$con=mysqli_connect("localhost","Tyler","element52","magento");

// Check connection
if (mysqli_connect_errno($con))
  {
  echo "Failed to connect to MySQL: " . mysqli_connect_error();
  }
  else
  {
  echo "<div class='paragraph_header'>Successfully Established Database Connection!</div>";
  }
  $result = mysqli_query($con,"SELECT * FROM admin_user");
	echo "<p class='table_header'>The Table Below Lists All Admins for This Magento Site</p>
	<div class='table_style'>
	<ul class='table_row_style'>
	<li class='table_cells1'>First Name</li>
	<li class='table_cells1'>Last Name</li>
	<li class='table_cells2'>Email Address</li>
	</ul>";
  
while($row = mysqli_fetch_array($result))
  {
  echo "<ul class='table_row_style'>";
  echo "<li class='table_cells3'>" . $row['firstname'] . "</li>";
  echo "<li class='table_cells3'>" . $row['lastname'] . "</li>";
  echo "<li class='table_cells4'>" . $row['email'] . "</li>";
  echo "</ul>";
  }
  echo "</div>";

mysqli_close($con);
?>